# Flutter
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
*.log

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# Windows
windows/runner/Debug/
windows/runner/Release/
*.vcxproj.user

# Node
server/node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
